body {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #272731;
}

.bg-main {
  background-color: #6171fa;
}

.dark-blue-bg {
  background-color: #20202c !important;
}

/* buttons start */

.btn-primary {
  color: white;
  background-color: #6171fa;
}

#circle {
  width: 35px;
}

#add-cart {
  width: 200px;
}

button#add-cart:hover,
.btn:hover {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #6171fa !important;
}

/* buttons end */

/* font styling start */

.muted {
  color: #a5a8ae;
}

.text-brand {
  color: #6171fa;
}

a {
  color: #6171fa;
}

a:hover {
  color: white;
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

/* font styling end */

/* Navbar start */
.navbar {
  max-height: 10vh;
  min-height: 10vh;
  z-index: 2;
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-menu[data-bs-popper] {
  left: -100px;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
}

/* Navbar end */

/* Affix menu start */

.sticky-nav {
  height: 8vh;
}

/* Affix menu end */

/* Hero section start */

#top-nav,
.hero {
  background-image: linear-gradient(
    to right,
    #20202c,
    rgba(100, 113, 250, 0.2) 50%,
    #20202c 100%
  );
  background-position: center;
  background-repeat: no-repeat;
}

.hero {
  max-height: 90vh;
  min-height: 90vh;
}

.shadow-heading {
  background-color: #20202c;
  font-size: 25vw;
  color: rgba(65, 65, 83, 0.8274509804);
  position: absolute;
  left: -50px;
  top: 10%;
  z-index: 0;
  opacity: 0.2;
}

/* Hero section end */

/* Inputs start */
.form-control {
  background-color: #20202c;
  border-radius: 0;
  border: 0;
}

.form-control:focus {
  color: white;
  background-color: #272731;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(97, 113, 250, 0.25);
}

/* Inputs end */

/* Carousel start */

.carousel-control-prev,
.carousel-control-next {
  top: auto;
}

.carousel-control-prev {
  left: 85% !important;
  bottom: 100px;
}

.carousel-control-next {
  bottom: 200px;
}

/* Carousel end */

/* borders start */

#border-thead {
  border-bottom: 2px solid #6171fa;
}

tr {
  border-color: #a5a8ae;
}

.border-start {
  border-color: #6171fa !important;
}

/* borders ned */
